main > div {
  background-color: rgba(51, 46, 46, 0.692);;
  box-shadow: 10px 10px 15px #0004;
  border-radius: 5px;
}

:root {
  --bg-dark: #1A2F3A;

  --logo-height: 100px;
  --header-height: 100px;
  --menu-top-height: 70px;
  --aside-width: 225px;
  --footer-height: 40px;

  --shadow: 
      0 2px 23px 0 rgba(0, 0, 0, 0.1),
      0 2px 49px 0 rgba(0, 0, 0, 0.06);
}


/* Layout em Grid */

.template-main {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
      var(--header-height)
      1fr
      var(--footer-height);
  grid-template-areas:
      "header"
      "content"
      "footer";
  height: 100vh;
  background-color: #F5F5F5;
}

aside.logo {
  grid-area: logo;
}

header.header {
  grid-area: header;
}

aside.menu-area {
  grid-area: menu;
}

main.content {
  grid-area: content;
  background-color: rgba(51, 46, 46, 0.692);
}

footer.footer {
  grid-area: footer;
}

@media(max-width: 768px) {
  .template-main {
      grid-template-rows:
          var(--header-height)
          1fr
          var(--footer-height);
      grid-template-columns: 1fr;
      grid-template-areas:
          "logo header"
          "content content"
          "footer footer";
  }
}

@media(max-width: 576px) {
  .template-main {
      grid-template-rows:
          var(--logo-height)
          var(--menu-top-height)
          1fr
          var(--footer-height);
      grid-template-columns: 1fr;
      grid-template-areas:
          "logo"
          "menu"
          "content"
          "footer";
  }
}